.active{
    transition: all .2s;
    background-color: rgb(224, 221, 221,.4);
    border-radius: 15px;
}
.input-container{
    background-color:#ffffff23;
    padding: 10px;
    border-radius: 10px;
}

.asientos-list-container{
    /* padding-top: 100px; */
    max-height: 78vh;
}

.asientos-list-container::-webkit-scrollbar {
    width: 1em;
}
 
.asientos-list-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
 
.asientos-list-container::-webkit-scrollbar-thumb {
  background-color: rgb(114, 173, 250);
  border-radius: 10px;
}

.table-small{
    font-size: small;
}

.option-cap{
    text-transform: capitalize;
}

.may-title{
    text-transform: uppercase;
}

.may-card{
    width: 300px;
}

.text-info-row{
    margin-top: 5px;
    font-size: medium;
}